PORT=3000

POSTGRES_DB=home_manager
POSTGRES_USER=home_manager
POSTGRES_PASSWORD=home_manager
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DATABASE_URL=postgresql://home_manager:home_manager@postgres:5432/home_manager?schema=public
